<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Info Podcast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap"
        rel="stylesheet">
</head>

<body class="bg-dark">

    <div class="content p-5">
        <div class="recensione-box p-2">
            {% if podcast.img_url != "" %}
            <img src="{{podcast.img_url}}" style="height: 25rem;" alt="slide">
            {% else %}
            <img src="{{ url_for('static', filename='./img/data_rangers.jpg') }}" style="height: 15rem;" alt="slide">
            {% endif %}
            <h3>{{titolo_p.titolo}}</h3>
            <p><b>Autore:</b> {{podcast.name}}</p>
            <p>{{podcast.descrizione}}</p>
            <p><b>Voti su I-Tunes:</b> {{podcast.rating_count}} <svg xmlns="http://www.w3.org/2000/svg" width="15"
                    height="15" fill="currentColor" class="me-3 bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg></p>
            <p><a class="text-decoration-none testo-bianco fs-5" href="{{podcast.URL}}"><b>Vai al Podcast</b></a></p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="recensioni ms-lg-5">
            <h2 class="testo-bianco mt-3"><svg xmlns="http://www.w3.org/2000/svg" width="34" height="34"
                    fill="currentColor" class="me-3 bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg>Recensioni Utenti<svg xmlns="http://www.w3.org/2000/svg" width="34" height="34"
                    fill="currentColor" class="ms-3 bi bi-star-fill" viewBox="0 0 16 16">
                    <path
                        d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                </svg></h2>

            <form class="my-2" action="{{url_for('recensione')}}" method="post">
                <input id="titolo-recensione" name="titolo-recensione" class="recensione-field" type="text"
                    placeholder="Titolo recensione..." required>
                <input id="recensione" name="recensione" class="recensione-field" type="text"
                    placeholder="Scrivi recensione..." required>

                <input type="hidden" name="podcast_id" value="{{ podcast.podcast_id }}">
                <input type="hidden" name="utente_ID" value="{{ utente_ID }}">

                <select class="rating-field" name="rating" id="rating" required>
                    <option value="">Seleziona un rating</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button class="recensione-button mt-2"><b>Invia Recensione</b></button>
            </form>

            <!--RECENSIONI INSERITE DALL'UTENTE-->
            <ul class="testo-bianco">
                {% for rev_utente in recensioni_utenti%}
                <li class="text-box"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                        class="bi bi-person-circle me-2" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0" />
                        <path fill-rule="evenodd"
                            d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1" />
                    </svg><b>{{ rev_utente.username }}</b>
                    <div><b>{{ rev_utente.titolo }}</b></div>
                    {{ rev_utente.testo }}
                    <div><b>Rating: </b>{{ rev_utente.voto }}</div>
                </li>
                {% endfor %}

            </ul>

            <!--RECENSIONI DI ITUNES-->
            <h1 class="testo-bianco">Recensioni di I-Tunes</h1>
            <ul class="testo-bianco">
                {% for rev in recensione %}
                <li class="text-box">
                    <div><b>{{rev.titolo}}</b></div>
                    {{rev.contenuto}}
                    <div><b>Rating: </b>{{rev.rating}}</div>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>