<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Info Podcast</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap"
        rel="stylesheet">
</head>

<body class="bg-dark">
    <div class="content p-5">
        <div class="recensione-box p-2">
            <img src="https://marketplace.canva.com/EAFIP4_9nrI/1/0/1600w/canva-black-neon-welcome-bank-podcast-cover-zBty84ekuGw.jpg"
                alt="artista">
            <h1>Gal Pal Show: Solo female travel, backpacking, bucket list inspiration, planning a trip, female travel
                advice and tips, and o</h1>
            <p>Gal Pal Show: Solo female travel, backpacking, bucket list inspiration, planning a trip, female travel
                advice and tips, and o</p>
            <p>Gal Pal Show: Solo female travel, backpacking, bucket list inspiration, planning a trip, female travel
                advice and tips, and o</p>
            <p>Gal Pal Show: Solo female travel, backpacking, bucket list inspiration, planning a trip, female travel
                advice and tips, and o</p>
            <p>Gal Pal Show: Solo female travel, backpacking, bucket list inspiration, planning a trip, female travel
                advice and tips, and o</p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="recensioni">
            <h2 class="testo-bianco mt-3">Recensioni</h2>
            <form class="my-2" action="{{url_for('recensione')}}" method="post">
                <input id="titolo-recensione" name="titolo-recensione" class="recensione-field" type="text"
                    placeholder="Titolo recensione..." required>
                <input id="recensione" name="recensione" class="recensione-field" type="text"
                    placeholder="Scrivi recensione..." required>
                <select class="rating-field" name="rating" id="rating" required>
                    <option value="">Seleziona un rating</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <button class="recensione-button mt-2"><b>Invia Recensione</b></button>
            </form>
            <ul class="testo-bianco">
                <li class="text-box"></li>
                <li class="text-box"><b>{{username}}: </b>
                    Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!
                    <div><b>Rating: </b>5</div>
                </li>
                <li class="text-box"><b>{{username}}: </b>
                    Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!
                    <div><b>Rating: </b>5</div>
                </li>
                <li class="text-box"><b>{{username}}: </b>
                    Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!Ottimo!
                </li>
                <li><b>{{username}}:</b> Ottimo!</li>
                <li>{{username}}: Ottimo!</li>
                <li>{{username}}: Ottimo!<div><b>Rating: </b>5</div>
                </li>
                <li>{{username}}: Ottimo!</li>
                <li>{{username}}: Ottimo!</li>
                <li>{{username}}: Ottimo!</li>
                <li>{{username}}: Ottimo!</li>
                <li>{{username}}: Ottimo!</li>
                <li>{{username}}: Ottimo!</li>
            </ul>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>